.btn {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    position: absolute;
    min-height: 100vh;
    min-width: 99vw
}

.button {
    margin: 3.5rem;
    padding: 10px 25px;
    border-radius: 15px;
    transition: 0.4s ease-in-out;
}

.button:hover {
    transform: scale(1.2);
}
