@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700&display=swap');

html {
    font-size: 62.5%;
    font-weight: 300;
    color: var(--white-color);
    scroll-behavior: smooth;
}

body {
    background-image: url(../assets/onda-blue.jpg);
    background-position: center;
    font-family: var(--font-primary);
    font-size: var(--font-normal);
}

.container {
    max-width: 1140px;
    margin: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.justify-content-center {
    justify-content: center;
}

.align-item-center {
    height: 88vh;
    align-items: center;
}

.flex-title h2 {
    font-size: var(--font-biggest);
    text-align: center;
    padding: 40px;
}

@media (max-width: 968px) {
    .flex-title h2 {
        padding: 30px 0 10px;
    }
}

.social-midia a{
    display: inline-block;
    width: 60px;
    height: 60px;
    font-size: 3rem;
    text-align: center;
    margin: 0 10px;
    margin-top: 20px;
    border-radius: 15px;
    transition: all 0.5s ease;
}

.social-midia a:hover {
    transform: scale(1.2);
}

.social-midia a:first-line {
    line-height: 65px;
}

.outer-shadow {
    box-shadow: 3px 3px #222327, -3px -3px 3px #454545;
}

.inner-shadow {
    box-shadow: inset 3px 3px 3px #222327, inset -3px -3px 3px #454545;
}