/* .skills {
    background-image: var(--background);
} */

.skills .container {
    max-width: 1140px;
}

.skills .container-skills {
    text-align: center;
    justify-content: center;
}

.skills .container-skills .skill {
    max-width: 350px;
    padding: 7rem 2rem;
}

.skills .container-skills .skill p,
.skills .container-skills .skill h3,
.skills .container-skills .skill .logo .icon {
    transition: all 0.3s ease;
}

.skills .container-skills .skill h3 {
    font-size: 3rem;
    font-weight: 500;
    margin-bottom: 1rem;
}

.skills .container-skills .skill p {
    font-size: 1.8rem;
    font-family: var(--font-secondary);
    background-color: var(--bac);
}

.skills .container-skills .skill .logo .icon{
    font-size: 6.4rem;
    transition: 0.4s ease;
}

.skills .container-skills .skill .logo .icon:hover {
    transform: scale(1.2);
}

.skills .container-skills .skill .react {
    color:#74C0FC;
}

.skills .container-skills .skill .js {
    color: #FFD43B;
}

.skills .container-skills .skill .git {
    color: #f64d27;
}

.skills .container-skills .skill .hub {
    color: #9102de;
}

.skills .container-skills .skill .html {
    color: #fd610d;
}

.skills .container-skills .skill .css {
    color: #0830d4;
}

.skills .container-skills .skill .jest {
    color: #99425b;
}

.skills .container-skills .skill .node {
    color: #4baa5c;
}