.skills .container-skills {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
}

.skills .container-skills .skill {
    max-width: 350px;
    padding: 4rem 2rem;
}

.skills .container-skills .skill p,
.skills .container-skills .skill h3,
.skills .container-skills .skill .logo .icon {
    transition: all 0.3s ease;
}

.skills .container-skills .skill h3 {
    font-size: 3.5rem;
    font-weight: 500;
    margin-bottom: 2rem;
}

.skills .container-skills .skill p {
    font-size: 1.8rem;
    font-family: var(--font-secondary);
}

.skills .container-skills .skill .logo .icon{
    font-size: 8rem;
}
