.about {
    min-height: 100vh;
}

.about .full-screen {
    min-height: 86vh;
    padding: 50px 0;
}

.about .text-about{
    letter-spacing: 2px;
}

.about .text-about,
.about .img-about {
    flex: 0 0 50%;
    max-width: 50%;
    padding: 0 15px;
}

.about .img-about .img-box{
    max-width: 450px;
    border-radius: 50%;
    margin: auto;
}

.about .img-about .img-box img {
    width: 100%;
    border-radius: 50%;
    border: 10px solid transparent;
}

.about .text-about p {
    font-family: var(--font-secondary);
    font-size: var(--font-big);
    margin-bottom: 10px;
}

.about .text-about .social-midia {
    margin-top: 20px;
}

@media (max-width: 1280px) {
    .about .text-about,
    .about .img-about {
        flex: 0 0 100%;
        max-width: 100%;
        text-align: center;
    }

    .about .text-about p {
        font-size: 2rem;
        margin: 10px 60px;
    }
}

@media (max-width: 968px) {
    .about .full-screen {
        padding: 20px 0;
    }

    .about .text-about .social-midia {
        margin-bottom: 20px;
    }

}

@media (max-width: 800px) {
    .about .img-about {
        margin-bottom: 2rem;
    }

    .about .img-about .img-box {
        max-width: 420px;
    }

    .about .text-about p {
        font-size: var(--font-normal);
        margin: 10px 40px;
    }

    .about .text-about .social-midia {
        margin-bottom: 10px;
    }

    .about .text-about .social-midia a {
        width: 50px;
        height: 50px;
        font-size: 2.5rem;
    }

    .about .text-about .social-midia a:first-line {
        line-height: 57px;
    }
}

@media (max-width: 580px) {
    .about .img-about .img-box {
        max-width: 330px;
    }
}