.footer {
    text-align: center;
    background-color: var(--background-dark);
    padding: 5rem 0;
}

.footer .container {
    max-width: 1140px;
}

.footer .container .flex-title {
    justify-content: center;
    padding: 1rem;
}

.footer .flex-title h2 {
    font-size: 7rem;
    font-weight: 700;
    letter-spacing: 2px;
}

@media (max-width: 425px) {

}