.footer {
    text-align: center;
    background-color: var(--background-dark);
    padding: 5rem 0;
}

.footer .container .flex-title {
    justify-content: center;
}

.footer .flex-title h2 {
    font-size: 7rem;
    font-weight: 700;
    letter-spacing: 2px;
    margin-bottom: 1.4rem;
}